.pg4_cont{
    position: relative;
    top: 0;
    left: 0;
    height: 97vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.letter{
    background-color: rgb(214, 214, 250);
    width: 48%;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 10px rgb(234, 153, 234);
}

.vows{
    text-align: center;
    margin: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}