body{
    background: url('https://img.freepik.com/free-vector/gradient-valentine-s-day-background_23-2149242406.jpg?semt=ais_se_enriched&w=740&q=80') center center;
    background-size: cover;
}

.cont_pg3{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 98vw;
}

.img_cont_3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.img_3{
    height: 80vh;
    width: 23%;
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgb(185, 123, 185);
}