body{
    background: url('../assets/Lavender\ Background.jpeg') no-repeat center center;
    background-size: cover;
}
.pg2_container{
    display: flex;
    flex-direction: column
    ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 89vw;
    height: 100%;
}
.top1{
    background-color: #fde8ff;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 2%;
    padding-bottom: 1%;
    border-radius: 8%;
}
.tmln{
    font-size: 25px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(7, 188, 208);
}

.grid_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 10%;
}

.grid_boxes{
    height: 50vh;
    width: 20%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px black;
    background-color: #fff2d1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 18px;
    font-family: cursive;
    font-weight: bold;
}

.grid_box_special{
    height: 65vh;
    width: 91.5%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 18px;
    font-family: cursive;
    font-weight: bold;
}
.btn_pg2{
    width: 30%;
    border-radius: 10px;
    height: 30px;
    background-color: #d3b2f1;
    color: black;
    font-weight: bolder;
    margin-top: 20px;
    font-size: 15px;
}
.btn_pg2:hover{
    cursor: pointer;
    translate: -1px 1px;
}