.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 207, 239);
    background: url('../assets/Lavender\ Background.jpeg') no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  .heading{
    background-color: rgb(207, 207, 239);
    border: 2px solid black;
    box-shadow: 4px 1px 10px 5px rgb(241, 219, 241);
    border-radius: 4%;
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .loveCount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .ala1{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    align-items: center;
    justify-content: center;
  }
  
  .ala2{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    align-items: center;
    justify-content: center;
  }
  
  .date{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    position: relative;
    top: 0;
    padding: 0;
    width: 100%;
    text-decoration: wavy underline;
    color: rgb(185, 63, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .pala{
    font-family: cursive;
    text-shadow: 2px 2px 20px rgb(7, 7, 165);
    font-weight: bolder;
    font-size: 20px;
  }
  
  .pala2{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .img1{
    height: 60px;
    width: 80px;
  }
  
  .btn{
    border-radius: 10px;
    height: 50px;
    background-color: rgb(234, 217, 251);
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
  }
  
  .btn:hover{
    translate: 1px 1px;
    box-shadow: 1px 1px 1px black;
  }
  
  .nxt_page1{
    margin-top: 10px;
    height: 80px;
    width: 250px;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
    background-color: azure;
  }
  .nxt_page1:hover{
    background-color: rgb(171, 222, 222);
  }