.container_pg5{
    background: url('../assets/2nd\ anniversary.jpg');
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_pg5{
    border-radius: 20px;
    height: 70%;
    width: 30%;
}

.child_cont_5{
    text-align: center;
    margin-top: 0.5%;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: lavenderblush;
    padding: 2%;
}